<tr>
	<%= hidden_field_tag "classroom[clazz_ids][]", clazz.id %>
  <td id="<%= clazz.id %>">
    <%= clazz.lesson.name %>
  </td>
  <td>
    <%= clazz.teacher.name %>
  </td>
  <td>
    <button class="remove_clazz btn btn-danger" data-lesson-id="<%= clazz.lesson.id %>">Remover</button>
  </td>
</tr>