<div>
  <div class="row-fluid well well-small">
    <div class="span8 "><h4><%= classroom.name %></h4></div>
    <div class="span4 right">
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_classroom_path(classroom), :class => 'btn btn-mini pull-right' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  classroom_path(classroom),
                  :method => :delete,
                  :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                  :class => 'btn btn-mini btn-danger pull-right' %>
    </div>
  </div>

  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th colspan="2" style="text-align: center">Turmas</th>
      <th rowspan="2" style="text-align: center">Alunos</th>
    </tr>
    <tr>
      <th>Matéria</th>
      <th>Professor</th>
    </tr>
    </thead>
    <tbody>
    <% tables_lines(classroom).times do |line| %>
        <tr>
          <td><%= lesson_for_line classroom, line %></td>
          <td><%= teacher_for_line classroom, line %></td>
          <td><%= classroom.students[line] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

