<form action="<%= classrooms_filter_path %>" method="GET">
  <fieldset>
    <div class="row-fluid">
      <div class="span5">
        <label>Professor</label>
        <input type="text" name="filter[teacher_ids]" data-load="<%= @teachers.to_json %>" id="teacher_filter" placeholder="Filtrar por professor…">
      </div>
      <div class="span5">
        <label>Matéria</label>
        <input type="text" name="filter[lesson_ids]"  data-load="<%= @lessons.to_json %>" id="lesson_filter" placeholder="Buscar por mateŕia…">
      </div>
      <div class="span2">
        <button type="submit" class="btn btn-primary pull-right">Buscar</button>
        <button type="submit" name="filter[clear]"  class="btn btn-primary pull-right">Limpar filtros</button>
      </div>

    </div>
  </fieldset>


</form>