<%= simple_form_for @classroom, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :name %>

    <div class="control-group">
      <label class="control-label" for="classroom_name">Aula</label>

      <div class="controls" style="float: left; margin-left: 20px;">
        <%= select_tag :lessons, options_from_collection_for_select(Lesson.with_teachers_and_no_classrooms.sorted, "id", "name") %>
        <%= select_tag :teachers, [] %>
        <button id="add_clazz" class="btn btn-primary">Adicionar aula</button>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="classroom_name">Aluno</label>

      <div class="controls" style="float: left; margin-left: 20px;">
        <%= select_tag :students, options_from_collection_for_select(Student.with_no_classrooms.sorted, "id", "name") %>
        <button id="add_student" class="btn btn-primary">Adicionar Aluno</button>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Matéria</th>
            <th>Professor</th>
            <th>Remover</th>
          </tr>
          </thead>
          <tbody id="clazz_container">
          <%= render partial: "clazz_view", :collection => @classroom.clazzs, as: :clazz %>
          </tbody>
        </table>
      </div>
      <div class="span4">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Alunos</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="students_container">
            <%= render partial: "students/for_classroom", :collection => @classroom.students, as: :student %>
          </tbody>
        </table>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  classrooms_path, :class => 'btn' %>
    </div>
<% end %>
