<%- model_class = Classroom -%>

<div class="page-header">
  <h1>
    <%= t model_class.model_name.human.pluralize %>
    <%= link_to t("helpers.links.new"),
                new_classroom_path,
                :class => 'btn btn-primary pull-right' %>
  </h1>
</div>

<%= render "filter" %>

<%= render @classrooms %>
