<%= simple_form_for @student, :html => {:class => 'form-horizontal'} do |f| %>
    <%= f.input :name %>
    <%= f.input :registry %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  students_path, :class => 'btn' %>
    </div>
<% end %>
