<tr>
	<%= hidden_field_tag 'classroom[student_ids][]', student.id  %>
	<td>
		<%= student.name %>
	</td>
	<td>
		<button class="remove_student btn btn-danger" data-student-id="<%= student.id %>">Remover</button>
	</td>
</tr>
