<%- model_class = Student -%>
<div class="page-header">
  <h1><%= model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:registry) %></th>
      <th><%= model_class.human_attribute_name(:classroom) %></th>
      <th><%= t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <td><%= student.registry %></td>
        <td><%= link_to student.classroom, classroom_path(student.classroom) if student.classroom %></td>
        <td>
          <%= link_to t("helpers.links.edit"),
                      edit_student_path(student), :class => 'btn btn-mini' %>
          <%= link_to t("helpers.links.destroy"),
                      student_path(student),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_student_path,
            :class => 'btn btn-primary' %>
