<%- model_class = Lesson -%>
<div class="page-header">
  <h1>Matérias</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.id, lesson_path(lesson) %></td>
        <td><%= lesson.name %></td>
        <td>
          <%= link_to t("helpers.links.edit"),
                      edit_lesson_path(lesson), :class => 'btn btn-mini' %>
          <%= link_to t("helpers.links.destroy"),
                      lesson_path(lesson),
                      :method => :delete,
                      :data => { :confirm => t("helpers.links.confirm") },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lesson_path,
            :class => 'btn btn-primary' %>
