<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Atenção!</strong>
  O Professor <%= @teacher %> ministra as aulas nas turmas <strong><%= @teacher.classrooms.map(&:name).join(",") %></strong>.

</div>