<%= simple_form_for @teacher, :html => {:class => 'form-horizontal'} do |f| %>

    <%= f.input :name %>
    <div class="control-group">
      <%= f.label :lessons, :class => 'control-label' %>
      <div class="controls" style="float: left; margin-left: 20px;">
        <%= f.text_field :lessons_names, :class => 'text_field', data: {load: @teacher.lessons} %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  teachers_path, :class => 'btn' %>
    </div>
<% end %>
