<%- model_class = Teacher -%>
<div class="page-header">
  <h1><%= model_class.model_name.human %></h1>
</div>

<% unless @teacher.classrooms.empty? %>
    <%= render "alert_classrooms" %>
<% end %>
<%= render :partial => 'form' %>
