<%- model_class = Teacher -%>
<div class="page-header">
  <h1>Professores</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:lessons) %></th>
      <th><%= t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= link_to teacher.id, teacher_path(teacher) %></td>
        <td><%= teacher.name %></td>
        <td><%= lessons_links_for_teacher(teacher) %></td>
        <td>
          <%= link_to t("helpers.links.edit"),
                      edit_teacher_path(teacher), :class => 'btn btn-mini' %>
          <%= link_to t("helpers.links.destroy"),
                      teacher_path(teacher),
                      :method => :delete,
                      :data => { :confirm => t("helpers.links.confirm") },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_teacher_path,
            :class => 'btn btn-primary' %>
